<header class="d-flex">
  <nav class="menu-desktop">
    <ul class="d-flex">
      <div class="balance-area">
        <p>Saldo: <span id="balance-value">{{balance}}</span></p>
      </div>
      <li>
        <a href="/">
          <i class="bi bi-box-arrow-right"></i>
          Sair
        </a>
      </li>
    </ul>
  </nav>
</header>

<div class="main-wrapper">
  <div class="wrapper-expenses-revenues content-home">
    <form
      id="form-expenses-revenues"
      action="/vault/home/registerExpenseRevenue"
      method="POST"
    >
      <input
        required
        type="text"
        name="description"
        id="description-expenses-revenues"
        placeholder="Descrição do gasto..."
      />
      <input
        required
        type="number"
        name="value"
        id="value-expenses-revenues"
        placeholder="Valor do gasto..."
      />

      <div class="form-control-expenses-revenues">
        <input
          type="radio"
          id="check-revenues"
          name="choices"
          value="revenues"
          checked
        />
        <label for="revenues">Receita</label>
      </div>

      <div class="form-control-expenses-revenues">
        <input
          type="radio"
          id="check-expenses"
          name="choices"
          value="expenses"
        />
        <label for="expenses">Despesa</label>
      </div>

      <input
        type="submit"
        id="btn-register-expenses-revenues"
        value="Cadastrar"
      />
    </form>
    <div class="revenuesExpensesList d-flex-center">
      <div class="div-revenues">
        {{#each revenues}}
          <div class="revenues-item d-flex">
            <h4 class="revenue-description">{{description}}</h4>
            <div class="wrapper-value-form d-flex-center">
              <h4 class="revenue-value value">{{value}}</h4>
              <form
                method="POST"
                action="/vault/home/deleteRevenue"
                class="form-delete-revenue"
              >
                <input type="hidden" name="id" value="{{id}}" />
                <button
                  title="Excluir registro"
                  class="btn-delete-revenue"
                  type="submit"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </form>
            </div>

          </div>
        {{/each}}
      </div>
      <div class="div-expenses">
        {{#each expenses}}
          <div class="expense-item d-flex">
            <h4 class="expense-description">{{description}}</h4>
            <div class="wrapper-value-form d-flex-center">
              <h4 class="expense-value value">{{value}}</h4>
              <form
                method="POST"
                action="/vault/home/deleteExpense"
                class="form-delete-expense"
              >
                <input type="hidden" name="id" value="{{id}}" />
                <button
                  title="Excluir registro"
                  class="btn-delete-expense"
                  type="submit"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </form>
            </div>

          </div>
        {{/each}}

      </div>
    </div>

  </div>

  <div class="wrapper-graphic content-home">
    <canvas id="myChart" style="width: 400px; height: 400px;"></canvas>
  </div>

</div>